@model RESERVATION.Models.T_RESERVATION

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>T_RESERVATION</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="reservationId" />
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coursem_id" class="control-label"></label>
                <input asp-for="coursem_id" class="form-control" />
                <span asp-validation-for="coursem_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cource_id" class="control-label"></label>
                <input asp-for="cource_id" class="form-control" />
                <span asp-validation-for="cource_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option_id" class="control-label"></label>
                <input asp-for="option_id" class="form-control" />
                <span asp-validation-for="option_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phonenumber" class="control-label"></label>
                <input asp-for="phonenumber" class="form-control" />
                <span asp-validation-for="phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentIntentid" class="control-label"></label>
                <input asp-for="paymentIntentid" class="form-control" />
                <span asp-validation-for="paymentIntentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calendarid" class="control-label"></label>
                <input asp-for="calendarid" class="form-control" />
                <span asp-validation-for="calendarid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update" class="control-label"></label>
                <input asp-for="update" class="form-control" />
                <span asp-validation-for="update" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
