@model RESERVATION.Models.T_COURSEM

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1 class="text-black">時間</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.alertMessage)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.alertMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
