@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewData["Title"] = "Course";
}
@model RESERVATION.Models.OptionViewModel

<div id="calendar">
    <div class="back">
        
    </div>
</div>
