@model RESERVATION.Models.T_COURSE

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>T_COURSE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="courceName" class="control-label"></label>
                <input asp-for="courceName" class="form-control" />
                <span asp-validation-for="courceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="limitMinNum" class="control-label"></label>
                <input asp-for="limitMinNum" class="form-control" />
                <span asp-validation-for="limitMinNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alertMessage" class="control-label"></label>
                <input asp-for="alertMessage" class="form-control" />
                <span asp-validation-for="alertMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
